<%= simple_form_for @reef_tank, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :tank_name %>
  <%= f.input :setup_date %>
  <%= f.input :last_update %>
  <%= f.input :current_temp %>
  <%= f.input :temp_name %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                reef_tanks_path, :class => 'btn' %>
  </div>
<% end %>
