<%= simple_form_for @alarm_code, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :tank_name %>
  <%= f.input :h_code %>
  <%= f.input :message %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                alarm_codes_path, :class => 'btn' %>
  </div>
<% end %>
