<%- model_class = Watcher -%>
<div class="page-header">
  <h1>Real Time Data log</h1>
</div>


 





<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th>Name</th>
      <th>Tank</th>
      <th>House</th>
 
      <th><%= model_class.human_attribute_name(:powerhead) %></th>
      <th><%= model_class.human_attribute_name(:main_pump) %></th>
      <th><%= model_class.human_attribute_name(:heater) %></th>

      <th>Received</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @watchers.each do |watcher| %>
      <tr>
        <td><%= link_to watcher.id, watcher_path(watcher) %></td>
        <td><%= watcher.temp_name %></td>
        <td><%= number_with_precision(watcher.temp, :precision => 1)   %>°f</td>
        <td><%= number_with_precision(watcher.ambient_temp, :precision => 1)   %>°f</td>
	
        <td>		 <% if watcher.powerhead  == true %>
				    <span class="label label-success">ON</span>
					<%else%>	
					<span class="label label-warning">OFF</span>
					<%end%>
		</td></td>
		<td>

		 <% if watcher.main_pump  == true %>
		   	 <span class="label label-success">ON</span>
				<%else%>	
				<span class="label label-warning">OFF</span>
			<%end%>
</td>
	<td>

	 <% if watcher.heater  == true %>
		 <span class="label label-success">ON</span>
			<%else%>	
			<span class="label label-warning">OFF</span>
		<%end%>
</td>
		     <td> <%= time_ago_in_words(watcher.created_at) %> ago </td>
		        


        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_watcher_path(watcher), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      watcher_path(watcher),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_watcher_path,
            :class => 'btn btn-primary' %>
