<%- model_class = Livestock -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
    
      <th><%= model_class.human_attribute_name(:common_name) %></th>
      <th><%= model_class.human_attribute_name(:scientific_name) %></th>
  
      <th><%= model_class.human_attribute_name(:livestock_type) %></th>
   
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @livestocks.each do |livestock| %>
      <tr>
        <td><%= link_to livestock.id, livestock_path(livestock) %></td>
    
        <td><%= livestock.common_name %></td>
        <td><%= livestock.scientific_name %></td>
   
        <td><%= livestock.livestock_type %></td>
    
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_livestock_path(livestock), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      livestock_path(livestock),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Import LiveStock</h2>

<p><%= link_to "Import LiveStock", new_livestock_import_path %></p>


<%= link_to t('.delete_all', :default => t("helpers.links.destroy all")),
              delete_all_livestocks_path,
              :method => :delete_all,
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-mini btn-danger' %>

		


<%= link_to t('.new', :default => t("helpers.links.new")),
            new_livestock_path,
            :class => 'btn btn-primary' %>
